
* {
  box-sizing: border-box;
}


body {
  margin: 0;
}


.nav {
  display: flex;
  color: #990033;
  background-color:#ff6699 ;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  font-family: "Courgette";
  font-size: 20px;

}
.nav-logo{
  width: 80px;
  display: inline;
}
 
.site-title{
  font-family: "Sofia";
  font-size: 35px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.nav ul {
  list-style: none;
  padding-right: 50px;
  margin: 0;
  display: flex;
  gap: 1em;
}

.nav a {
  color: inherit;
  text-decoration: none;
}


.card-container {
  width: 18rem;
  margin: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.menu {
  background-color: #f0ca6e;
  color: #990033;
  padding-top: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 15px;
}
.girly{
font-family: "Orbitron";
background-color: #ff6699;
border-radius: 10px;
 
}
.girly:hover{
  border-radius: 10px;
  color: #990033;
}

.cottagecore{
  font-family: "Courgette";
  background-color: #2c5508;
  color: #fff5a9;
  border-radius: 10px;
}
.cottagecore:hover{
  border-radius: 10px;
  color: #990033;
}

.kawaii{
  font-family: "Mansalva";
  background-color: #3194ca;
  color: white;
  border-radius: 10px;
}
.kawaii:hover{
  border-radius: 10px;
  color: #990033;
}

.space{
  font-family: "Audiowide";
  background-color: #151225;
  color: #ffffff;
  border-radius: 10px;
}
.space:hover{
  border-radius: 10px;
  color: #990033;
}

.goth{
  font-family: "Special Elite";
  background-color: #000000;
  color: red;
  border-radius: 10px;
  
}
.goth:hover{
  border-radius: 10px;
  color: #990033;
}

.elegant{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(98, 0, 128);
  color: yellow;
  border-radius: 10px;
}
.elegant:hover{
  border-radius: 10px;
  color: #990033;
}
.shopby{
  font-family: "Sofia";
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: underline;
  color: #990033;

}

.gapbetween{
  padding: 2px;
}

.smykker{
  border-radius: 10px;
  border: #990033 solid 2px;
  font-family: "Courgette";

}